<?xml version="1.0"?>
<config>
    <modules>
        <Printshop_Catalog>
            <version>1.1.5</version>
        </Printshop_Catalog>
    </modules>
    <global>
        <blocks>
            <Printshop_catalog>
                <class>Printshop_Catalog_Block</class>
            </Printshop_catalog>
            <catalog>
                <rewrite>
                    <product_view>Printshop_Catalog_Block_Catalog_Product_View</product_view>
					<!--product_list>Printshop_Catalog_Block_Catalog_Product_List</product_list-->
                </rewrite>
            </catalog>
        </blocks>
    </global>
    <frontend>
        <layout>
            <updates>
                <printshop>
                    <file>printshop.xml</file>
                </printshop>
            </updates>
        </layout>
        <translate>
            <modules>
                <Printshop_Catalog>
                    <files>
                        <default>Printshop_Catalog.csv</default>
                    </files>
                </Printshop_Catalog>
            </modules>
        </translate>
        <routers>
            <catalog>
                <args>
                    <modules>
                        <Printshop_Catalog before="Mage_Catalog">Printshop_Catalog</Printshop_Catalog>
                    </modules>
                </args>
            </catalog>
        </routers>
    </frontend>
</config>
