<?xml version="1.0"?>
<config>
    <modules>
        <Printshop_Syncproduct>
            <version>1.1.5</version>
        </Printshop_Syncproduct>
    </modules>

    <admin>
        <routers>
            <syncproduct>
                <use>admin</use>
                <args>
                    <module>Printshop_Syncproduct</module>
                    <frontName>syncproduct</frontName>
                </args>
            </syncproduct>
        </routers>
    </admin>
    <adminhtml>
        <acl>
            <resources>
                <all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                        <Printshop_Syncproduct>
                            <title>Syncproduct Module</title>
                            <sort_order>20</sort_order>
                        </Printshop_Syncproduct>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <syncproduct>
                    <file>syncproduct.xml</file>
                </syncproduct>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <syncproduct>
                <class>Printshop_Syncproduct_Model</class>
                <resourceModel>syncproduct_mysql4</resourceModel>
            </syncproduct>
            <syncproduct_mysql4>
                <class>Printshop_Syncproduct_Model_Mysql4</class>
                <entities>
                    <catalog>
                        <table>user_template_design</table>
                    </catalog>
                    <syncproduct>
                        <table>syncproduct</table>
                    </syncproduct>
                    <ibrightadmin>
                        <table>syncproduct_admin_ibright</table>
                    </ibrightadmin>
                    <ibrightfrontend>
                        <table>syncproduct_frontend_ibright</table>
                    </ibrightfrontend>
					<ibrightguest>
                        <table>syncproduct_guest_ibright</table>
                    </ibrightguest>
                </entities>
            </syncproduct_mysql4>
        </models>
        <resources>
            <syncproduct_setup>
                <setup>
                    <module>Printshop_Syncproduct</module>
                    <class>Printshop_Syncproduct_Model_Resource_Eav_Mysql4_Setup</class>
                </setup>
                <setup>
                    <module>Printshop_Syncproduct</module>
                    <class>Mage_Sales_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </syncproduct_setup>
            <syncproduct_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </syncproduct_write>
            <syncproduct_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </syncproduct_read>
        </resources>
        <blocks>
            <syncproduct>
                <class>Printshop_Syncproduct_Block</class>
            </syncproduct>
        </blocks>
        <helpers>
            <syncproduct>
                <class>Printshop_Syncproduct_Helper</class>
            </syncproduct>
        </helpers>
    </global>
</config>